{% extends "questions/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block questions_navigation %}
{% include "questions/includes/navigation.html" with nav_item="answer" %}
{% endblock %}

{% block content %}
	{{ block.super }}
	<div class="question-detail">
		<div id="question-{{question.id}}" class="question">
			<h2 class="meta">{% blocktrans with question.user as user and question.posted as date %}{{user}} on {{date}}{% endblocktrans %}</h2>
			<p class="question-text text">{{question.text}}</p>
		</div>
		{% crispy form %}
	</div>
{% endblock content %}