{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<section id="question-{{question.id}}" class="question">
		<h2 class="meta">{{question.user}} on {{question.posted}}</h2>
		<p class="question-text">{{question.text}}</p>
	</section>
	<div class="answers-list">
		{% for answer in answers  %}
		<section class="answer">
			<h3 class="meta">{{answer.user}} on {{answer.posted}}</h3>
			<p class="answer-text text">{{answer.text}}</p>
		</section>
		{% endfor %}
	</div>
	{% crispy answer_form %}
{% endblock content %}