{% extends "questions/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block questions_navigation %}
{% include "questions/includes/navigation.html" with nav_item="detail" %}
{% endblock %}

{% block content %}
	{{block.super}}
	<section id="question-{{question.id}}" class="question">
		<h2 class="meta">{% blocktrans with question.user as user and question.posted as date %}{{user}} on {{date}}{% endblocktrans %}</h2>
		<p class="question-text">{{question.text}}</p>
	</section>
	<div class="answers-list">
		{% for answer in answers.reverse  %}
		<section class="answer">
			<h3 class="meta">{% blocktrans with answer.user as user and answer.posted as date %}{{user}} on {{date}}{% endblocktrans %}</h3>
			<p class="answer-text text">{{answer.text}}</p>
		</section>
		{% endfor %}
	</div>
	{% crispy answer_form %}
{% endblock content %}