{% extends "questions/base.html" %}
{% load i18n %}

{% block questions_navigation %}
	<div class="pull-right">
		<a href="{% url 'questions.views.create' %}" class="btn btn-default navbar-btn">{% trans "Add a new question" %}</a>
	</div>
	<ul class="nav nav-pills">
		{% url 'questions_list' as nav_url %}
		<li class="{% if request.path == nav_url %}active{% endif %}"><a href="{{nav_url}}">{% trans "All Questions" %}</a></li>
		{% url 'questions_list_subscribed' as nav_url %}
		<li class="{% if request.path == nav_url %}active{% endif %}"><a href="{{nav_url}}">{% trans "Questions you joined" %}</a></li>
		{% url 'questions_list_user_questions' as nav_url %}
		<li class="{% if request.path == nav_url %}active{% endif %}"><a href="{{nav_url}}">{% trans "Questions you asked" %}</a></li>
	</ul>


{% endblock questions_navigation %}

{% block content %}
	{{ block.super }}
	<div class="questions-list">
	{% for question in questions %}
		<div id="question-{{question.id}}" class="question">
			<h2 class="meta">{% blocktrans with question.user as user and question.posted as date %}{{user}} on {{date}}{% endblocktrans %}</h2>
			<p class="question-text text">{{question.text}}</p>
			{% include "questions/includes/navigation.html" %}
		</div>
	{% endfor %}
	</div>
{% endblock content %}