{% extends "questions/base.html" %}
{% load i18n %}


{% block questions_navigation %}
	<div class="pull-right">
		<a href="{% url 'questions.views.create' %}" class="btn btn-default navbar-btn">{% trans "Add a new question" %}</a>
	</div>
{% endblock questions_navigation %}

{% block content %}
	{{ block.super }}
	<h1>{% trans "All Questions" %}</h1>
	{% for question in questions %}
		<div id="question-{{question.id}}" class="question">
			<h2 class="meta">{% blocktrans with question.user as user and question.posted as date %}{{user}} on {{date}}{% endblocktrans %}</h2>
			<p class="question-text">{{question.text}}</p>
			{% include "questions/includes/navigation.html" %}
		</div>
	{% endfor %}
{% endblock content %}