boto==2.36.0
dj-database-url==0.3.0
Django==1.7.6
django-crispy-forms==1.4.0
django-phonenumber-field==0.7.2
django-require==1.0.7
django-require-s3==1.0.0
django-rosetta==0.7.5
django-sendsms==0.2.2
django-storages==1.1.8
httplib2==0.9
microsofttranslator==0.5
-e git+https://github.com/marcuz/libpynexmo.git@c2622568760136f3b4c566c3ed48a5dc88935753#egg=nexmomessage-master
phonenumbers==7.0.2
polib==1.0.4
psycopg2==2.6
pytz==2014.10
requests==2.6.0
sh==1.11
six==1.9.0
waitress==0.8.9
