@import "variables.scss";

// Import bootstrap and fontawesome
@import "bootstrap";
@import "font-awesome";

// Base
h2{
	font-weight:bold;
}

.navbar h1{
	margin:0px;
}

.question, .answer{
	border-top:$gray-lighter 1px solid;
}

// Bootstrap Starter Template Styles
body {
  padding-top: 70px;
}