@import "variables.scss";

// Import bootstrap and fontawesome
@import "bootstrap";
@import "font-awesome";

// Base
h2{
	font-weight:bold;
}

.navbar-small{
	@extend .navbar;
	@extend .navbar-default;
	@extend .navbar-inverse;
	font-size: $font-size-small;
	.container{
		padding:$space-size 0px;
	}
}

.nav-sidebar .brand{
	display: block;
	font-size: $font-size-large;
	padding: $space-size/2 0px;
}

.navbar h1{
	margin:0px;
}

.question, .answer{
	margin-bottom:$space-size/2;
}

.questions-list, .answers-list{
	.question, .answer{
		border-bottom:$gray-lighter 1px solid;
		margin:$space-size 0px;
		.meta, .text{
			padding:$space-size/2 $space-size;
		}
		.meta{
			font-size: $font-size-base;
			margin:0px;
			background-color: $gray-lighter;
		}
	}	
}

.question-detail .question{
	background-color: $gray-lighter;
	font-size: $font-size-large;
	padding:$space-size/2 $space-size;
}

.message{
	@extend .alert, .alert-info;
	margin: $space-size/2 0px;
}
.message.error{
	@extend .alert-danger;
}
.message.success{
	@extend .alert-success;
}
.message.sent{
	@extend .alert-success;
}

// Layout
.nav-sidebar{
	display:none;
}

@media (min-width: $screen-sm){
	.container{
		padding: $space-size*2 0px;
		.container{
			width:auto;
			margin:0px $space-size;
			background: transparent;
			padding:0px;
		}
	}

	.nav-sidebar, .main-content{
		display:block;
		float:left;
	}
	.nav-sidebar{
		width: $sidebar-width;
	}
	.main-content{
		width: $container-tablet - $sidebar-width;
	}
}

@media (min-width: $screen-md){
	.main-content{
		width: $container-desktop - $sidebar-width - $space-size;
	}
}

@media (min-width: $screen-lg){
	.main-content{
		width: $container-large-desktop - $sidebar-width - $space-size;
	}
}
