{% load i18n %}

<ul class="nav nav-pills">
	<li role="presentation" class="{% if nav_item and nav_item == 'detail' %}active{% endif %}">
		<a href="{% url 'questions.views.detail' question.id %}">{% trans "View question" %}</a>
	</li>
	<li role="presentation" class="{% if nav_item and nav_item == 'answer' %}active{% endif %}">
		<a href="{% url 'questions.views.answer' question.id %}">{% trans "Answer question" %}</a>
	</li>
	{% if question.id in current_subscription_question_ids %}
	<li role="presentation" class="">
		<a href="{% url 'questions.views.unsubscribe' question.id %}">{% trans "Unsubscribe to question" %}</a>
	</li>
	{% else %}
	<li role="presentation" class="">
		<a href="{% url 'questions.views.subscribe' question.id %}">{% trans "Subscribe to question" %}</a>
	</li>
	{% endif %}
	{% if user.is_staff or question.user == user %}
	<li role="presentation" class="">
		<a href="{% url 'questions.views.delete' question.id %}">{% trans "Delete question" %}</a>
	</li>
	{% endif %}
</ul>